
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<!-- Custom Theme files -->
<link href="~/web2/css/style.css" rel="stylesheet" type="text/css" media="all" />
<script src="~/web2/js/Chart1.js"></script>
<link href="~/web2/css/jqvmap.css" rel="stylesheet" />
<script src="~/web2/js/jquery.min.js"></script>
<script src="~/web2/js/jquery.vmap.js"></script>
<script src="~/web2/js/jquery.vmap.sampledata.js"></script>
<script src="~/web2/js/jquery.vmap.world.js"></script>

<script type="text/javascript">
    jQuery(document).ready(function () {
        jQuery('#vmap').vectorMap({
            map: 'world_en',
            backgroundColor: '#333333',
            color: '#ffffff',
            hoverOpacity: 0.7,
            selectedColor: '#666666',
            enableZoom: true,
            showTooltip: true,
            values: sample_data,
            scaleColors: ['#C8EEFF', '#006491'],
            normalizeFunction: 'polynomial'
        });
    });
</script>

<script>
    $(document).ready(function (c) {
        $('.alert-close6').on('click', function (c) {
            $('.world-map').fadeOut('slow', function (c) {
                $('.world-map').remove();
            });
        });
    });
</script>

<br />
<h2>İstatistikler</h2>


<div class="list_of_members">
    <div class="sales">
        <div class="icon">
            <i class="dollar"></i>
        </div>
        <div class="icon-text">
            <h3>@ViewBag.val4</h3>
            <p>Kasadaki Para</p>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="new-users">
        <div class="icon">
            <i class="user1"></i>
        </div>
        <div class="icon-text">
            <h3>@ViewBag.val1</h3>
            <p>Aktif Üye</p>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="orders">
        <div class="icon">
            <i class="order"></i>
        </div>
        <div class="icon-text">
            <h3>@ViewBag.val2</h3>
            <p>Kitap Sayısı</p>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="visitors">
        <div class="icon">
            <i class="visit"></i>
        </div>
        <div class="icon-text">
            <h3>@ViewBag.val3</h3>
            <p>Emanet Kitaplar</p>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
</div>

<div class="total-sales">
    <div class="user-trends">
        <div class="alert-close7"> </div>

        <canvas id="bar" height="340" width="780"></canvas>
        <script>

            var barChartData = {
                //labels: @ViewBag.valCategories
                labels: ["Ocak", "Şubat", "Mart", "Nisan", "Mayıs", "Haziran", "Temmuz"],
                datasets: [

                    {
                        fillColor: "rgba(140, 145, 255, 0.69)",
                        strokeColor: "rgba(151,187,205,1)",
                        data: [28, 48, 40, 19, 96, 27, 100]
                    }
                ]

            }

            var myLine = new Chart(document.getElementById("bar").getContext("2d")).Bar(barChartData);

        </script>
    </div>
   
    <div class="clearfix"></div>
</div>

<div class="total-world">
    <div class="world-map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d47934.30884987028!2d27.925027199600237!3d41.33291169278092!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m5!1s0x14b528f6b24bbeed%3A0xbc34875359ef16a2!2zS2FwYWtsxLEgQmVsZWRpeWVzaSwgS2FwYWtsxLEvVGVraXJkYcSf!3m2!1d41.332916999999995!2d27.9600466!4m0!5e0!3m2!1str!2str!4v1634934939854!5m2!1str!2str" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
</div>
    <div class="site-report">
        <div class="alert-close3"> </div>
        <h3>Kitap Raporları</h3>
        <div class="skills-top">
            <h5>Fantastik</h5>
            <h4>35%</h4>
            <div class="clearfix"></div>
            <div class="skills">
                <div class="skill" style="width:45%"></div>
            </div>
        </div>
        <div class="skills-top">
            <h5>Kurgu</h5>
            <h4>50%</h4>
            <div class="clearfix"></div>
            <div class="skills">
                <div class="skill1" style="width:68%"></div>
            </div>
        </div>
        <div class="skills-top">
            <h5>Macera</h5>
            <h4>69%</h4>
            <div class="clearfix"></div>
            <div class="skills">
                <div class="skill2" style="width:89%"></div>
            </div>
        </div>
        <p>Bu raporlarma, aylık verilen kitap kategorilerine göre yapılmıştır.</p>
    </div>
    <div class="clearfix"></div>
</div>