@using LibraryManagementSystem.Models.Entity
@model List<books>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}
@{ var status = "";}

<h2>Kitaplar</h2>
<br />
<table id="tbl1" class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Kitap Adı</th>
            <th>Kitap Yazarı</th>
            <th>Kitap Kategorisi</th>
            <th>Basım Yılı</th>
            <th>Yayınevi</th>
            <th>Sayfa</th>
            <th>Durum</th>
            <th></th>
            <th></th>

        </tr>
    </thead>

    <tbody>
        @foreach (var book in Model)
        {
            if(book.situation == true)
            {
                status = "Alınabilir";
            }
                else
                {
                status = "Alınamaz";
                }

        <tr>
            <td>@book.id</td>
            <td>@book.name</td>
            <td>@book.authors.first_name @book.authors.last_name</td>
            <td>@book.categories.name</td>
            <td>@book.publication_year</td>
            <td>@book.publisher</td>
            <td>@book.number_of_page</td>
            <td>@status</td>
            @*<td>
                @Html.ActionLink("Sil", "DeleteBook", new { id = book.id }, new
                {
                    @class = "btn btn-danger",
                    onclick = "return confirm('Silmek istiyor musunuz?')"
                })
            </td>
            <td><a href="/Book/GetBook/@book.id" class="btn btn-success">Güncelle</a></td>*@


            <td>
                <a class="btn btn-danger btn-sm" href="/Book/DeleteBook/@book.id">
                    <i class="fas fa-trash"></i>
                    Sil
                </a>
            </td>
            <td>
                <a class="btn btn-info btn-sm" href="/Book/GetBook/@book.id">
                    <i class="fas fa-pencil-alt"></i>
                    Güncelle
                </a>
            </td>

        </tr>
        }
    </tbody>
</table>

<a href="/Book/AddBook/" class="btn btn-primary">Yeni Kitap Ekle</a>

<script>
    $('#tbl1').DataTable(
        {
            //order: [
            //    [2, 'desc'] 2.indexteki sütunu büyükten küçüğe sıralı şekilde getirir.
            //]
            pageLength: 10,
            //lengthMenu: [
            //    [10, 25, 50, 100, -1],
            //    ['10 Adet', '25 Adet', '50 Adet', '100 Adet', 'Tümü']
            //],
            language: {
                url: "//cdn.datatables.net/plug-ins/1.10.19/i18n/Turkish.json"
            }
        } );

</script>